<div class="row">
  <div class="small-12 columns text-center">
    <h2> Edi comment </h2>
  </div>
</div>


<%= form_for @comment do |f| %>
  <div class="row">
    <div class="small-6 columns small-centered">
      <%= f.text_area :body %>
    </div>
  </div>
  <div class="row">
    <div class="small-6 small-centered columns">
      <%= f.submit "Create journal entry", class: 'small button primary' %>
    </div>
  </div>
<% end %>
