<h2> <%= @user.username %>'s journal entries</h2>

<div>
  <ul>
    <% @entries.each do |entry| %>
      <li>
        <%= link_to "Entry from #{entry.created_at.to_s(:long)}", journal_entry_path(entry) %>
      </li>
    <% end %>
  </ul>
</div>

<% if @user == current_user %>
  <div>
    <%= link_to 'Download all entries and comments', download_user_journal_entries_path(current_user), data: {'turbolinks': false } %>
  </div>
<% end %>

